/* Import Fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital@0;1&display=swap');

/* General wildcard styles to override browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #140a58;
    /* body occupies at least the height of the viewport */
    min-height: 100vh;
    /* general font styles */
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #140a58;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* to bring the menu dropdown infront of the hero image */
    z-index: 99;
    color: white;
}

nav {
    display: none;
    position: absolute;
    padding-right: 5px;
    text-align: right;
    /* font */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 100%;
    right: 0;
    background-color: white;
    width: 100%;
}

header a {
    /* remove underline of links */
    text-decoration: none;
}

header h1 {
    font-size: 120%;
    color: white;
}

.nav-links {
    /* hide list bullets */
    list-style: none;
    letter-spacing: 0.1rem;
    padding-top: 5px;
}

.nav-links>li {
    margin-bottom: 0.5rem;
}

.nav-links a {
    color: #140a58;
}

#menu-toggle {
    /* hide checkbox by default */
    display: none;
}

.menu-icon {
    font-size: 2rem;
    display: inherit;
}

/* underline active menu item */
.active {
    text-decoration: underline;
}

/* make menu items bold when hovering over */
.nav-links li a:hover {
    font-weight: bolder;
}

/* When the menu-toggle checkbox is checked, show the nav */
#menu-toggle:checked+.menu-icon+nav {
    display: block;
}

/* Main content */
main {
    background-color: ghostwhite;
    /* allow main section to take over surplus space */
    flex: 1;
}

/* Hero section */
#hero {
    height: 400px;
    width: 100%;
    background: url("../images/sunset-fun-bouldering-group-hero.webp") no-repeat center center/cover;
    position: relative;
}

#hero-text {
    font-size: 0.5rem;
    width: 40%;
    position: sticky;
    top: 68%;
    left: 40%;
    text-align: center;
    border-radius: 5%;
    padding: 10px 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(20 11 88 / 50%);
    color: white;
    line-height: 130%;
}

/* About section */
#about {
    padding: 5px;
    display: grid;
}

#key-info {
    border-top: groove;
    border-bottom: groove;
    width: 100%;
    text-align: center;
}

#intro {
    margin-bottom: 10px;
}

/* make the bullet points/numbers of lists nested inside the block element */
#key-info ul,
#key-info ol {
    list-style-position: inside;
}

/* further indent nested ordered list */
#programme {
    padding-left: 20px;
}

#key-info i {
    margin: 5px 0;
}

.sub-li {
    padding-left: 15px;
    font-size: 0.8rem;
}

/* add breathing space to the icons in the main */
main i {
    padding-right: 5px;
}

/* remove bullet points to replace with icons */
ul.icon,
ol.icon {
    list-style-type: none;
}

/* Flyer section */
/* flyer */
#flyer {
    display: grid;
    justify-content: center;
}

/* limit the size of img on larger screens and keep the aspect ratio */
picture>source,
picture>img {
    width: 100%;
    max-width: 1400px;
    height: auto;
}

/* target links to registration */
.link-btn {
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 0px 1px white;
    display: grid;
    justify-content: center;
    width: 100%;
}

.link-btn>h3 {
    background-color: #140a58;
    color: white;
    padding: 10px;
    box-shadow: 0.2rem 0.2rem black;
}

.link-btn>h3:hover {
    background-color: #223094;
}

/* Registration page */
#registration-form {
    padding: 5px;
    background: url("../images/bouldering-woman-action-portrait.webp");
    background-size: cover;
    background-position: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

/* signup form */
#form-signup {
    padding-top: 10px;
    background-color: rgb(20 11 88 / 50%);
    width: 75%;
    padding: 10px;
    color: white;
    display: grid;
}

/* Radio */
#radio {
    margin: 10px 0;
    display: flex;
    max-width: 100%;
}

#comp,
#intro {
    padding-left: 5px;
}

/* dropdown */
#team-size {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    height: 25.5px;
    width: fit-content;
    margin: 5px 0 15px;
    padding: 5px
}

/* text inputs */
.input-text {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    height: 25.5px;
    width: 100%;
    margin: 5px 0 15px;
}

/* submit button */
#submit-btn {
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    box-shadow: 0.2rem 0.2rem black;
    width: 50%;
    justify-self: center;
    background-color: #140a58;
    color: white
}

#submit-btn:hover {
    background-color: #223094;
    color: white;
}

/* Gallery */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Footer */
footer {
    background-color: #140a58;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

/* Copyright */
#copyright {
    width: 40%;
}

/* Social network icons */
#social-icons,
#contact {
    width: 40%;
    font-size: 1.2rem;
}

#social-icons li,
#contact li {
    /* display icons in same line which also removes bullets */
    display: inline-block;
    margin: 0 5px;
}

#social-icons i,
#contact i {
    color: white;
}

/* target last icon to remove margin on right */
#social-icons li:last-child,
#contact li:last-child {
    margin-right: 0;
}

/* paragraphs */
footer p {
    font-size: 0.8rem;
    font-style: oblique;
}

/* Contact info */
#contact li {
    list-style: none;
}

#contact {
    width: 30%;
}

/* 404 */
#main-404 {
    padding: 5px;
    height: 100vh;
    width: 100%;
    background: url("../images/darkness-light-boulder-cave.webp") no-repeat center center/cover;
    position: relative;
    color: white
    }

#main-404>p,
#main-404>h1 {
    margin: 10px 5px
}

#main-404>a {
    background-color: black ;
    color: white;
    padding: 10px;
}

#main-404>a:hover {
    background-color: #223094;
}

/* Media query: tablets and larger (>=768px) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: #140a58;
    }

    .nav-links {
        display: flex;
    }

    .nav-links a {
        padding-left: 1rem;
        color: white;
        font-size: 110%;
    }

    .menu-icon {
        display: none;
    }

    .logo {
        font-size: 170%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Hero text */
    #hero-text {
        width: 25%;
        font-size: 110%
    }

    /* Hero image */
    #hero {
        height: 40vh
    }

    /* About section */
    #about {
        font-size: 130%;
        padding: 10vw 5vw
    }

    /* Register page */
    #form-signup {
        width: 50%;
        font-size: 130%;
    }

    #submit-btn {
        font-size: larger;
    }

    /* Gallery page */
    #photos {
        column-count: 2;
        column-gap: 0;
    }

    /* footer */
    #social-icons,
    #contact {
        font-size: x-large;
    }

}

/* Media query: laptops and larger (>=992px) */
@media screen and (min-width: 992px) {

    /* index */
    /* hero */
    #hero-text {
        width: 20%;
        font-size: 150%;
    }

    #hero {
        height: 40vh;
    }

    #about {
        font-size: 200%;
    }

    /* Register page */
    #form-signup {
        width: 30%;
    }

    /* Gallery */
    #photos {
        column-count: 4;
    }

    /* Footer */
    footer {
        font-size: 150%;
        padding: 40px;
    }

}

/* Media query: larger laptop/desktop screens (>=1440px) */
@media screen and (min-width: 1440px) {

    /* Index page */
    /* hero */
    #hero {
        height: 60vh
    }

    .nav-links a {
        padding-left: 2rem;
        font-size: 150%;
    }

    /* About */
    #about {
        font-size: 200%;
    }

    .sub-li {
        padding-left: 40px;
        font-size: 1.5rem;
    }

    /* flyer */
    .link-btn {
        padding: 25px 40px;
        text-shadow: 0px 0px 2px white;
        width: 100%;
    }

    .link-btn>h3 {
        font-size: 180%;
        padding: 15px;
    }

    /* Registration page */
    #form-signup {
        width: 35%;
        font-size: 200%;
        padding: 20px;
        margin-top: 50px;
    }

    /* text inputs */
    .input-text {
        font-size: x-large;
        height: 3rem
    }

    /* select dropdown */
    #team-size {
        font-size: x-large;
        height: 3rem
    }

    /* radio */
    input[type=radio] {
        border: 0px;
        width: 30%;
        height: 2rem;
    }

    /* submit button */
    #submit-btn {
        font-size: x-large;
    }

    /* Footer */
    footer {
        padding: 5px;
    }

    #social-icons,
    #contact {
        font-size: 150%;
        padding: 20px;
    }

    footer p {
        font-size: 2rem;
    }

    /* 404 */
    #main-404 {
        font-size: xx-large;
    }

}

/* Media query: larger 4k screens (>=2560px) */
@media screen and (min-width: 2560px) {

    /* Index page */
    /* Header */
    header {
        font-size: 300%;
        padding: 50px;
    }

    /* hero */
    #hero {
        height: 1200px;
    }

    #hero-text {
        width: 20%;
        font-size: 300%;
    }

    /* About */
    #about {
        font-size: 400%;
    }

    .sub-li {
        padding-left: 60px;
        font-size: 3rem;
    }

    /* flyer */
    .link-btn {
        padding: 40px 60px;
        text-shadow: 0px 0px 2px white;
        width: 100%;
    }

    .link-btn>h3 {
        font-size: 300%;
        padding: 20px;
    }


    /* Registration page */
    #form-signup {
        width: 40%;
        font-size: 400%;
    }

    /* heading */
    #registration-form>h2 {
        font-size: 400%;
    }

    /* text inputs */
    .input-text {
        font-size: 70px;
        height: 5rem
    }

    /* select dropdown */
    #team-size {
        font-size: 70px;
        height: 6rem;
        width: 10%;
    }

    /* radio */
    input[type=radio] {
        border: 0px;
        width: 40%;
        height: 4rem;
    }

    /* submit button */
    #submit-btn {
        margin-top: 15px;
        font-size: larger;
    }

    /* Footer */
    footer {
        font-size: 250%;
        padding: 5px;
        max-height: fit-content;
    }

    footer p {
        font-size: 3rem;
    }
}