/* Import Fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital@0;1&display=swap');

/* General wildcard styles to override browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: darkslategray;
    /* body occupies at least the height of the viewport */
    min-height: 100vh;
    /* general font styles */
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Header */
header {
    background-color: blanchedalmond;
    display: flex;
    width: 100%;
    position: fixed;
    border-top: darkslategray solid;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* to bring the menu dropdown infront of the hero image */
    z-index: 99;
}

nav {
    display: none;
    position: absolute;
    padding-right: 5px;
    text-align: right;
    /* font */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 100%;
    right: 0;
    background-color: blanchedalmond;
    border-bottom: darkslategray solid;
    width: 100%;
}

header a {
    /* remove underline of links */
    text-decoration: none;
    color: darkslategray;
}

header h1 {
    font-size: 120%;
    color: darkslategray;
}

.nav-links {
    /* hide list bullets */
    list-style: none;
    letter-spacing: 0.3rem;
}

.nav-links>li {
    margin-bottom: 0.5rem;
}

#menu-toggle {
    /* hide checkbox by default */
    display: none;
}

.menu-icon {
    font-size: 2rem;
    display: inherit;
}

/* underline active menu item */
.active {
    text-decoration: underline;
}

/* make menu items bold when hovering over */
.nav-links li a:hover {
    font-weight: bolder;
}

/* When the menu-toggle checkbox is checked, show the nav */
#menu-toggle:checked+.menu-icon+nav {
    display: block;
}

/* Main content */
main {
    background-color: ghostwhite;
    /* allow main section to take over surplus space */
    flex: 1;
    margin-top: 45px;
    border-top: darkslategray solid;
}

/* Hero section */
#hero {
    height: 400px;
    width: 100%;
    background: url("../images/BoulderingBook_PanoAkamas_20240316_SR_001.webp") no-repeat center center/cover;
    position: relative;
}

#hero-text {
    font-size: 70%;
    width: 100%;
    border-radius: 5%;
    padding: 10px 5px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(225, 236, 248, 0.4);
}

#hero-text>h2 {
    padding-bottom: inherit;
}

/* About section */
#about {
    padding: 5px;
}

#key-info {
    border-top: groove;
    border-bottom: groove;
}

/* make the bullet points/numbers of lists nested inside the block element */
#key-info ul,
#key-info ol {
    list-style-position: inside;
}

/* further indent nested ordered list */
#programme {
    padding-left: 20px;
}

#key-info i {
    margin: 5px 0;
}

#programme>p {
    padding-left: 15px;
    font-size: 0.8rem;
}

/* add breathing space to the icons in the main */
main i {
    padding-right: 5px;
}

/* remove bullet points to replace with icons */
ul.icon,
ol.icon {
    list-style-type: none;
}

/* Flyer section */
/* ensure picture element does not create horizontal scrolling.
take up only as much as the width of screen but keep the aspect ratio */
picture>source,
picture>img {
    max-width: 100vw;
    height: auto;
}

/* target links to registration */
#flyer a {
    text-align: center;
    text-shadow: 0px 0px 2px #3d60d2;
    color: #3d60d2;
}

/* Footer */
footer {
    background-color: linen;
    color: darkslateblue;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Copyright */
#copyright {
    width: 40%;
    /* align-self: center; */
}

/* Social network icons */
#social-icons {
    width: 40%;
    font-size: 130%;
    /* align-self: center; */
}

#social-icons li {
    /* display icons in same line which also removes bullets */
    display: inline-block;
    margin: 0 5px;
}

/* target last icon to remove margin on right */
#social-icons li:last-child {
    margin-right: 0;
}

/* Contact info */
#contact li {
    list-style: none;
}

#contact {
    width: 30%;
}